body {
  background-color: #121212;
  min-height: 100vh;
}
#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  position: absolute;
  top: +13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
#drum-pads {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.drum-pad {
  border: 1px solid white;
  border-radius: 20%;
  height: 198px;
  width: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242222f6;
}

@media screen and (max-width: 610px) {
  #drum-pads {
    height: 300px;
    width: 300px;
  }
  .drum-pad {
    height: 98px;
    width: 98px;
  }
}
